# build folders
build/
cmake-build-*/

# cmake
CMakeFiles/
CMakeCache.txt
compile_commands.json

# binaries
*.o
*.obj
*.a
*.so
*.dylib
*.exe

# IDE
.idea/
.vscode/

# macOS
.DS_Store

#libs
dawn/*
glfw3webgpu/*
glfw/*

#AI
docs/*